<div *ngIf="isLoading | async" class="overlay">
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
    <p style="font-size: 20px; color: white">Loading...</p>
  </mat-progress-spinner>
</div>
