table {
  width: 100%;
}

tr:hover {
  background: #e2e2e2;
  text-wrap: initial;
}

.image{
  width: 50px;
  height:50px;
  background-size: cover;
}

.margined-from-top{
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
