table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr:hover {
  background: #e2e2e2;
}

.margined-from-top{
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
